{% extends 'base.html' %}

{% block content %}
    <div class="div-maior">
        <div class="div-list">
            
            <ul>
                {% for cat in categories %}
                    <a href="{{ cat.get_absolute_url }}"><li>{{ cat.nome }}</li></a>
                {% endfor %}
            </ul>        
        </div>
    </div>
    <div>
        <form action="{% url 'search:list' %}" method="GET">
            <input style="margin-left: 1rem;" type="text" name="search" id="">
            <input type="submit" value="Search">
        </form>
    </div>

    <div class="list-fotos">
        {% for produto in product_list %}
        <div class="div-grid">
            <h2>{{ produto.title }}</h2>
            <a href="{{ produto.get_absolute_url }}">
            <img class="img-fluid" src="{{ produto.image.url }}" alt="">
            </a>
            <p>Preço: R${{ produto.description|truncatewords:5 }}</p>
            <p style="margin-bottom: 2rem;">Preço: R${{ produto.price }}</p>
            <a href="{{ produto.get_absolute_url }}" class="btn btn-success">Detalhe</a>
            
        </div>
        {% endfor %}
    </div>
{% endblock content %}